.send-page {
	display: flex;
	height: 100%;
	gap: 1rem;
	background-color: #18222d;
	height: 100%;
	min-height: 100vh
}

.send-details {
	display: flex;
	flex-direction: column;
}

.send-details-address,
.send-details-amount {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}




button {
	font-size: 1rem;
	padding: 0.25rem 0.75rem;
	border-radius: 8px;
	border: none;
	background-color: var(--tg-theme-button-color);
	color: var(--tg-theme-button-text-color);
}

button:focus {
	outline: none;
}

input {
	font-size: 1rem;
	border: none;
	width: 100%;
	background-color: var(--tg-theme-secondary-bg-color);
	/* color: var(--tg-theme-text-color); */
	color: #afc1d2 !important;

}

input:focus {
	outline: none;
	caret-color: transparent;
}

.send-details-amount-picked-token {
	color: #757575;
}

select.send-select,
.send-details-address,
.send-details-amount {
	font-size: 1rem;
	padding: 6px 10px;
	border-radius: 8px;
	border: none;
	/* background-color: var(--tg-theme-button-color); */
	background-color: #131415;
	color: #afc1d2 !important;
	width: 100%;
	color: var(--tg-theme-button-text-color);
}

select.send-select:focus {
	outline: none;
}

.send-select-wrapper {
	width: 100%;
}

.send-details-amount-token-name {
	font-family: 'Red Hat Mono', monospace;
	font-size: 3.5rem;
	margin-left: 0.25rem;
	margin-bottom: 0.1rem;
	color: #afc1d2;
}

.send-details-amount {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-top: 1rem;
}


.send-details-amount-input {
	font-size: 4rem;
	font-family: 'Red Hat Mono', monospace;
	padding: 0;
	box-sizing: content-box;
	border: none;
	text-align: center;
	width: 4rem;
	color: #fff !important;
}
