.body {
	width: 100%;
	margin-top: 2rem;
}

a {
	text-decoration: none;
	color: var(--tg-theme-text-color);
}

.body-tabs {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.body-tabs-tab {
	font-size: 1.3rem;
	font-weight: bold;
	color: hsl(from var(--tg-theme-text-color) h s calc(l - 10%)); 
	padding: 0 1rem;
}

.active {
	color: var(--tg-theme-text-color);
	border-bottom: #5f5f5f solid 2px;
}

.body-operations {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: 1rem;
	margin-top: 1.5rem;
}

.body-operations-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;

	font-weight: bold;
}

.disabled {
	cursor: default;
	opacity: 0.35;
}

.body-assets {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	margin-top: 1.5rem;
}

.body-assets-asset {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--tg-theme-secondary-bg-color);
	border-radius: 5px;
	padding: 1rem;
}

.body-assets-asset-info {
	display: flex;
}

.body-assets-asset-naming {
	display: flex;
	flex-direction: column;
}

.body-assets-asset-naming-name {
	color: var(--tg-theme-text-color);
	font-weight: 600;
}

.body-assets-asset-naming-symbol {
	font-size: 0.75rem;
	color: var(--tg-theme-hint-color);
	font-weight: 600;
}

.body-assets-asset-balance {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.body-assets-asset-balance-amount {
	font-weight: 600;
	font-size: 1.25rem;
}

.body-assets-asset-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.body-assets-asset-logo img {
	width: 32px;
	height: 32px;
}

.body-assets-asset-naming {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 1rem;
}
